
html{
 height:100%;
}

body{
    background-color: #FFFFFF;
    min-height: 100% !important;
    height: 100;
}
#container{
    margin: 0 auto;
    width: 960px;
}
#header{
   height: 132px;
   width:942px;
   padding: 10px;
   
   
   margin-bottom: 7px;
   background-color: #990066;
   
}
.loggodiv{
   background-color: #990066;
    width: 940px;
    margin-bottom: 10px; background: url("min-logga.png") no-repeat;
    height: 120px;
    margin-left: auto;
    margin-right: auto; 
}
main{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    background-color: #FF99CC;
    height: 100%;
    font-family: "Tahoma", Geneva, sans-serif;
    padding: 10px;
    
}

#navside{
    width: 180px;
    float: left;
    background-color: #FFFFFF;
    height: 22%;
    margin-right: 14px;
    margin-top:10px;
    border:2px solid black;
}
#navside a{
    background: #990066;
	border-bottom: 2px solid black;
	color: #ccc;
	display: block;
	margin: 0px;
	padding: 8px 12px;
	text-decoration: none;
	text-indent: 24px;  
}
#navside a:hover
{
    background: #CC6699;
	color: #fff;
}
#navside .active {
    background-color: #CC6699;
	color: #333;
}
section{
 display: block;
 background-color: #CC6699;
 width: 715px;
 margin-top: 10px;
 padding:10px;
 float:right;
 
}
article{
    
}
#aside{
 display:block;
 height:120px;
 width:145px;
 background-color:#FFFFFF;
 border: 2px solid black;
 padding: 5px; 
 float:left;
}
#aside{
    width:181px;
}
#ccfooter{
    background-color: #C0C0C0;
    font-style: oblique;
    font-weight: bold;
    font-size: 100%;
    height:30px;
    width:963px;
}

h1{
    
}
h2{
    font-size: 150%;
    border-bottom: 2px solid black;
}
h3{
    border-bottom: 2px solid #000000;
    background-color:transparent;
    border-bottom: 2px solid black;
}
#signed{
    font-style: oblique;
    font-weight: bold;
    font-size: 80%;
}

main a {
    text-decoration: none;
    color: #FFFFFF;
}
main a:hover {
    text-decoration: underline;
}
figure{
    float:right;
}
.comments{
    display: block;
    background-color: #FF99CC;
    width: 695px;
}
.c1{
    border: 1px solid black;
    margin-bottom: 5px;
    padding:4px;
}
