/*printing---------------------------------------------------------*/
@media print {
    #header{
        display: none;
    }
    #navigation{
        display: none;
    }
    .navlist{
        display:none;
    }
    #footer {
        display: none;
    }
    #content {
        overflow: visible;
    }
    video {
        display: none;
    }
    #jag{
        display: none;
    }
    #daisy {
        display: none;
    }
    #contactform {
        display: none;
    }
    #fieldset{
        display: none;
    }
    a:after{
        content:" (" attr(href)") ";
        font-size:0.8em;
        font-weight:normal;
    }
    
}

html {
    height: 100%;
}
body {
    background-color: #FFCCCC;
    min-height: 100% !important;
    height: 100;
}
#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#navigation {
    width: 180px;
    float: left;
    background-color: #FFFFFF;
    height: 100%;
    margin-right: 10px;
}
#content {
    overflow: scroll;
    background-color: #CC6699;
    height: 100%;
    font-family: "Tahoma", Geneva, sans-serif;
}
#header {
    background-color: #990066;
    width: 940px;
    margin-bottom: 10px;
}
#footer {
    background-color: #C0C0C0;
    margin-top: 10px;
}
/* body backgroundcolor: #FFCCCC
    navigation backgroundcolor: #FFFFFF
    content backgroundcolor: #CC6699
    header backgroundcolor: #990066
    footer backgroundcolor: #C0C0C0 */

div {
    padding: 10px;
    background-color: #E0E0E0;
}
ul {
    list-style-type:none;
    padding-left: 0;
    margin: 0;
}

h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
    
}
h3:before {
    font-size: 125%;
} 
p {
    font-size: 100%;
    
}
.h3{
    border-bottom: 2px solid #000000;
    background-color:transparent;
}
.h3:before{
    background: url("text.png") no-repeat;
    width: 46px;
    height: 44px;
    content:"";
    float: left;
    display: block;
    margin: 5px 5px 5px 0;
}
.welcome {
    font-size: 250%;
    font-family: "Tahoma", Geneva, sans-serif;
    font-weight: bold;
}
#signed {
    font-style: oblique;
    font-weight: bold;
    font-size: 80%;
}
#video
{
    margin-bottom:0px;
}
.blogg {
    margin-bottom:0px;
}
#content a {
    text-decoration: none;
    color: #FFFFFF;
}
#content a:hover {
    text-decoration: underline;
}
/*navigation---------------------------------------------------------*/

#navigation a:hover
{
    background: #CC6699;
	color: #fff;
}
#navigation a {
    background: #990066;
	border-bottom: 2px solid #393939;
	color: #ccc;
	display: block;
	margin: 0px;
	padding: 8px 12px;
	text-decoration: none;
	text-indent: 24px;
}
#navigation .active {
    background-color: #CC6699;
	color: #333;
}
.navlist {
    margin: 0;
    padding: 0;
    text-align: left;
}
.navlist li {
    list-style-type: none;
    padding-top: 0;
    padding-left: 3px;
    margin-bottom: 0;
    line-height: 1.5em;
    position: relative;
}
.navlist li:before {
  position: absolute;
  margin: 8px 0 0 7px;
  min-height: 30px;
  background: url(sprite.png) no-repeat;
  width: 24px;
  content:"";
  vertical-align: middle;
}
navlist li.home:hover:before {
     background-position: 0px 0px;
     }
.navlist li.home:before {
     background-position: 0px -48px;
     }
.navlist li.pres:before {
     background-position: 0px -240px;
     }
.navlist li.pres:hover:before {
     background-position: 0px -192px;
     }
.navlist li.lab:before {
     background-position: 0px -144px;
     }
.navlist li.lab:hover:before {
     background-position: 0px -96px;
     }     
.navlist li.kon:before {
     background-position: 0px -336px;
     }
.navlist li.kon:hover:before {
     background-position: 0px -288px;
} 


/*table---------------------------------------------------------*/
#table, td, th {
    border:3px solid black;
    background-color:white;
    padding: 15px;
}
.list-title {
    font-weight:bold;
}

/*form---------------------------------------------------------*/

#legend {
    font-weight: bold;
    margin-bottom: 12px;
}
#fieldset {
    border: 5px solid black;
    width: 400px;
    height: 300px;
    background-color: #FFFFFF;
}
#select {
    margin-bottom: 12px;
}
#Text {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 9px;
}
#Textlabel {
    position: relative;
    bottom: 48px;
}
#name {
    margin-top: 17px;
}
#submit {
    margin-top: 12px;
    margin-left: 54px;
}


/*images---------------------------------------------------------*/
#daisy {
    float: right;
    padding:1px;
    border:3px solid #990066;
    background-color:#990066;
}
.loggodiv {
    background: url("min-logga.png") no-repeat;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}


/*vcard---------------------------------------------------------*/
.vcard {
    background-color: #CC6699;
    font-weight:bold;
}
.add {
    background-color: #CC6699;
}
.tele {
    background-color: #CC6699;
}
.mail{
   background-color: #CC6699; 
}