html {
   
}
body {
    background-color: #FFCCCC;
    
}
#container {
    max-width: 480px;
    width:100%;
}
#content {
    padding:5px;
    background-color: #CC6699;
    font-family: "Tahoma", Geneva, sans-serif;
}
#header {
    display:none;
}
#footer {
    background-color: #C0C0C0;
}
#footer p {
    margin:0;
    text-align:center;
    padding:5px;
}
/* body backgroundcolor: #FFCCCC
    navigation backgroundcolor: #FFFFFF
    content backgroundcolor: #CC6699
    header backgroundcolor: #990066
    footer backgroundcolor: #C0C0C0 */
#svgbild
{
    width:100%;
}
div {
   
    background-color: #E0E0E0;
}
ul {
    list-style-type:none;
}


.h3{
    border-bottom: 2px solid #000000;
    background-color:transparent;
}

#signed {
    font-style: oblique;
    font-weight: bold;
    font-size: 80%;
}
#videon
{
    width:100%;
    margin-bottom:0px;
}
#blogg {
    margin-bottom:0px;
}
#content a {
    text-decoration: none;
    color: #FFFFFF;
}
#content a:hover {
    text-decoration: underline;
}
/*navigation---------------------------------------------------------*/

#navigation a:hover
{
    background: #CC6699;
	color: #fff;
}
#navigation a {
    background: #990066;
	border-bottom: 2px solid #393939;
	color: #ccc;
	display: block;
	margin: 0px;
	padding: 8px 12px;
	text-decoration: none;
	text-indent: 24px;
}
#navigation .active {
    background-color: #CC6699;
	color: #333;
}
.navlist {
    margin: 0;
    padding: 0;
    text-align: left;
}
.navlist li {
    list-style-type: none;
    padding-top: 0;
    
    margin-bottom: 0;
    line-height: 1.5em;
    position: relative;
}

/*table---------------------------------------------------------*/
table {
    display: none;
}

/*form---------------------------------------------------------*/

#legend {
    font-weight: bold;
    margin-bottom: 12px;
}
#fieldset {
    
    width: 100%;
    padding-left:0px;
    padding-right:0px;
    margin-left:0px;
    margin-right:0px;
    background-color: #FFFFFF;
}
#select {
    margin-bottom: 12px;
}
#Text {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 9px;
}
#Textlabel {
    position: relative;
    bottom: 48px;
}
#name {
    margin-top: 17px;
}
#submit {
    margin-top: 12px;
    margin-left: 54px;
}


/*images---------------------------------------------------------*/
#daisy {
    float: right;
    padding:1px;
    border:3px solid #990066;
    background-color:#990066;
}
