html {
    height: 100%;
}
body {
    background-color: #FFCCCC;
    min-height: 100% !important;
    height: 100;
}
#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#navigation {
    width: 180px;
    float: left;
    background-color: #FFFFFF;
    height: 100%;
    margin-right: 10px;
}
#content {
    overflow: scroll;
    background-color: #CC6699;
    height: 100%;
    font-family: "Tahoma", Geneva, sans-serif;
}
#header {
    background-color: #990066;
    margin-bottom: 10px;
}
#footer {
    background-color: #C0C0C0;
    margin-top: 10px;
}
/* body backgroundcolor: #FFCCCC
    navigation backgroundcolor: #FFFFFF
    content backgroundcolor: #CC6699
    header backgroundcolor: #990066
    footer backgroundcolor: #C0C0C0 */

div {
    padding: 10px;
    background-color: #E0E0E0;
}
ul {
    list-style-type:none;
    padding-left: 0;
    margin: 0;
}

h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
    
}
h3:before {
    font-size: 125%;
} 
p {
    font-size: 100%;
    
}
.h3{
    border-bottom: 2px solid #000000;
    background-color:transparent;
}
.h3:before{
    width: 46px;
    height: 44px;
    background: url("pics/texticon.png") no-repeat;
    content:"";
    float: left;
    display: block;
    margin: 5px 5px 5px 0;
}
#video
{
    margin-bottom:0px;
}
#blogg {
    margin-bottom:0px;
}
#content a {
    text-decoration: none;
    color: #FFFFFF;
}
#content a:hover {
    text-decoration: underline;
}
/*navigation---------------------------------------------------------*/

#navigation a:hover
{
    background: #CC6699;
	color: #fff;
}
#navigation a {
    background: #990066;
	border-bottom: 2px solid #393939;
	color: #ccc;
	display: block;
	margin: 0px;
	padding: 8px 12px;
	text-decoration: none;
	text-indent: 24px;
}
#navigation .active {
    background-color: #CC6699;
	color: #333;
}
/*table---------------------------------------------------------*/
#table, td, th{
    border:3px solid black;
    background-color:white;
    padding: 15px;
}
.list-title
{
    font-weight:bold;
}
